@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 20, 20, 20;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 20, 20, 20;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.footer-gradient {
  background: linear-gradient(270deg, #141414 0%, #2b1e57 100%);
  color: rgb(255, 255, 255);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
